body {
    background-color: #EFEFEF;
    min-width: 800px;
    max-width: 800px;
    margin: 0 auto;
    font: 15px 'Arial';
    color: #333;
}

.content-info {
    min-height: 283px;
    margin: 0px auto;
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

.wslog {
    height: 152px;
    width: 60%;
    margin-left: 10px;
    background-color: #efefef;
    border-radius: 4px;
    overflow: hidden;
    float: left;
}

.DonTable>tbody>tr>td, 
.DonTable>tbody>tr>th, 
.DonTable>tfoot>tr>td, 
.DonTable>tfoot>tr>th, 
.DonTable>thead>tr>td, 
.DonTable>thead>tr>th {
    padding: 0px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px;
}

.wstext {
    margin-left: 5px;
    margin-top: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.message {
	height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}

.rinfo {
    margin-left: 20px;
    width: 35%;
    border-radius: 4px;
    float: left;
}

.page-item.active .page-link {
    background-color: #efefef !important;
    border: 1px solid grey;
    border-color: lightgrey !important;
}

.gtrends {
    width: 98%;
    margin-bottom: 20px;
    margin: 0 auto;
}

.content-box {
    padding-top: 12px;
    padding-bottom: 12px;
}

a,
a:hover,
a:active {
    color: #333;
}

.page-link {
    color: black !important;
}

.page-link:focus {
    box-shadow: none;
}

td,
th {
    text-align: center;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 6px 10px;
}

.table td,
.table th {
    padding: 6px 25px;
}

table {
    border-radius: 4px;
}

.content-text {
    padding: 20px 15px;
}

.clear {
    clear: both;
}

#donTopLink {
	display: none; height:20px; width: 200px; position: absolute; margin-left: 245px; margin-top: 7px; z-index: 99;
}
